ul {
  list-style-type: none;
}

a {
  color: red;
  font-size: 48px;
  text-align: center;
  text-decoration: none;
}

body {
  margin-top: 100px;
  margin-left: 180px;
}

.click {
  text-decoration: line-through;
}

.click2:hover {
  opacity: 0.4;
}

.click2 {
  /* background-color: pink; */
  width: 300px;
}

img {
  width: 100%;
}

p {
  color: blue;
  font-size: 18px;
}

h1 {
  color: pink;
}